---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold" style="color:var(--global-theme-color)"> {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</span> 
        
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc"><span class="font-weight-bold" style="color:var(--global-text-color-light)">Statistics PhD Candidate @ George Mason University</span></p>
  </header>

  <div style="height:12px;font-size:1px;">&nbsp;</div>

  <article>
    <div style="text-align: center;">
      <img class="img-fluid z-depth-1 rounded-circle" src="assets/img/prof_pic.jpg" width="200" height="200">
    </div>

   <div style="height:30px;font-size:1px;">&nbsp;</div>

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
              <div class="social">
            <div class="contact-icons">
            <hr>
            
            <a href="https://scholar.google.com/citations?hl=en&user=tNDSj5IAAAAJ" style="margin-right: 0.6em;" rel="external nofollow noopener" target="_blank"><i class="fab fa-google-scholar"></i></a>
            <a href="https://github.com/ylong-chn" title="GitHub" style="margin-right: 0.6em;" rel="external nofollow noopener" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/ylong5" title="LinkedIn" style="margin-right: 0.6em;" rel="external nofollow noopener" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://orcid.org/0009-0006-7764-5116" title="ORCID" rel="external nofollow noopener" target="_blank"><i class="fab fa-orcid"></i></a>
            

            </div>

            <div class="contact-note">
              
            </div>
            
          </div>
  </article>
</div>
